.cluster-map {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.selecto-area {
    width: 275px;
    height: 100%;
    padding: 20px;
}

svg {
    display: block;
    height: 100%;
}

svg text {
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

#selecto1 .station {
    transition: all ease 0.2s;
}

.selecto-area .selected {
    fill: #4af;
}

.station {
    fill:#E5E5E5;
}

.row-name {
    fill: #CCCCCC;
    font-family: 'Helvetica-Bold';
    font-size: 20px;
}

.cluster-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.request-btn {
    font: inherit;
    border: 2px solid #4af;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    background-color: #f5f8fd;
    padding: 8px 15px;
    transition-duration: 0.4s;
}

.request-btn:hover {
    background-color: #4af;
    color: white;
}

.request-btn:active {
    background-color: rgb(11, 34, 53);
    border-color: rgb(255, 255, 255);
}

.alert {
    width: 300px;
    max-height: 15px;
    background-color: #eb4848;
    color: white;
    border-radius: 3px;
    padding: 10px;
    text-align: left;

    transition-duration: 0.8s;
    overflow-x: scroll;
}

#notifications-container {
    position: fixed;
    top: 52px;
    right: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.alert-warning {
    background-color: #ff9800;
}

.alert-success {
    background-color: #04AA6D;
}

.alert-info {
    background-color: #2196F3;
}

.blured {
    filter: blur(2px);
}