.actions-list {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    margin-top: 15px;
}

.action {
    background-color: rgb(255, 255, 255);
    margin: 0 10px 10px;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.055);

    --success-color: rgba(23, 158, 23, 0.623);
    --error-color: rgba(214, 125, 23, 0.623);
    --failed-color: rgba(214, 23, 23, 0.623);
    border-bottom: 7px solid;

}

.action p {
    line-height: 27px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    display: inline;
}

.action-date {
    float: right;
    text-decoration: underline;
}

.host-label {
    background-image: linear-gradient(45deg,
        rgb(155, 217, 241) 0%,
        rgb(138, 253, 238) 100%
    );
    -webkit-user-select: text; /* Safari */
    -ms-user-select: text; /* IE 10 and IE 11 */
    user-select: text; /* Standard syntax */
}

.label {
    padding: 2px 8px;
    border-radius: 100px; 
}

.label-fadeout {
    background-color: rgb(110, 110, 110);
    color: white;
}

.host-list .hidden {
    width: 100px;
}

.label-fadeout-gradient {
    position: relative; 
    bottom: -0.4em;
    height: 0em;
    right: 3.3em;
    display: inline-block;
    width: 55px;
    height: 25px;
    pointer-events: none;
    background: -webkit-linear-gradient(to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 50%
    ); 
    background-image: -moz-linear-gradient(to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 50%
    );
    background-image: -o-linear-gradient(to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 50%
    );
    background-image: -ms-linear-gradient(to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 50%
    );
    background-image: linear-gradient(to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 50%
    );
}

.label-row {
    background-image: linear-gradient(to right,
        rgb(21, 179, 241) 0%,
        rgba(155, 217, 241, 1) 100%
    );
}

.label-cluster {
    background-image: linear-gradient(45deg,
        rgb(129, 115, 252) 0%,
        rgb(21, 179, 241) 100%
    );
    color: whitesmoke;
}