table, th, td {
    border-bottom: 1px solid rgb(228, 228, 228);
    border-collapse: collapse;
}

.users-list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.users-list table {
    width: 1000px;
}

td, tr {
    padding: 12px;
}

.btn-delete {
    border-color: rgb(255, 37, 37);
}

.btn-delete:hover {
    background-color: rgb(243, 40, 40);
    color: white;
}

.btn-delete:active {
    background-color: rgb(114, 18, 18);
    border-color: rgb(255, 255, 255);
}