.modal-form {
    height: fit-content;
    width: 40vw;
    max-width: 600px;

    border-radius: 5px;
    box-shadow: 2px 2px 70px rgba(0, 0, 0, 0.4);
    background-color: white;
    padding: 3vh;

    display: flex;
    justify-content: center;
}

.modal-form .form-buttons {
    display: flex;
    justify-content: center;
}

.image-mosaic {
    overflow: scroll;
    max-height: 500px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-mosaic .radio-option {
    margin: 3px;
}

.radio-option img {
    border-radius: 3px;
}

.btn {
    font: inherit;
    border: 2px solid #4af;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    background-color: #4af;
    padding: 8px 15px;
    transition-duration: 0.4s;
    margin: 10px;
}

.btn:hover {
    box-shadow: 0 0 10px rgb(45, 128, 223);
    background-color: rgb(28, 85, 134);
    border-color: rgb(28, 85, 134);
}

.btn:active {
    background-color: rgb(11, 34, 53);
    border-color: rgb(255, 255, 255);
    box-shadow: none;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + img {
    outline: 4px solid #4af;
}

.image-mosaic label {
    line-height: 0px;
    display: block;
}