tr {
    display: flex;
    text-align: center;
}

tr.year-menu {
    gap: 2px;
}

td button {
    font: inherit;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    color: rgb(34, 20, 112);
    background-color: #f5f8fd;
    padding: 10px;
}

button.active {
    background-color: #d1e4fc;
}

.logtime-data table {
    background-color: #fafbfd;
}

.logtime-data .normal-attendance {
    background-color: rgb(255, 219, 16);
}
.logtime-data .bad-attendance {
    background-color: #EE6173;
}
.logtime-data .good-attendance {
    background-color: #53D27A;
}

.logtime-data td {
    width: 40px;
    height: 9px;
    border-radius: 2px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 2px;
}