.cluster-map {
    width: 100%;
    display: flex;
    justify-content: center;
}

.selecto-area {
    width: 275px;
    padding: 20px;
}

#selecto1 .station {
    transition: all ease 0.2s;
}

.selecto-area .selected {
    fill: #4af;
}

.station {
    fill:#E5E5E5;
}

.row-name {
    fill: #CCCCCC;
    font-family: 'Helvetica-Bold';
    font-size: 20px;
}

.cluster-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.request-btn {
    font: inherit;
    border: 2px solid #4af;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    background-color: #f5f8fd;
    padding: 8px 15px;
    transition-duration: 0.4s
}

.request-btn:hover {
    background-color: #4af;
    color: white;
}

.request-btn:active {
    background-color: rgb(11, 34, 53);
    border-color: rgb(255, 255, 255);
}